.content_container {
  h3 {
    padding: 0;
    margin: 0;
  }

  .topics {
    display: block;
    width: 100%;
    padding: 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.29);

    .topic {
      display: inline-flex;
      list-style-type: none;
      padding: 5px;
      margin: 5px;
      border: 1px solid gray;
      border-radius: 5px;
      cursor: pointer;

      &.add_topic {
        border: none;
        padding: 0;

        i {
          color: #4f70b5;
        }

        .link {
          padding: 6px;
        }
      }

      .close {
        display: block;
        padding: 0;
        color: black;
        height: 20px;
        width: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 17px;

        .button {
          background-color: transparent;
          padding: 0;

          &:hover {
            color: red;
          }
        }
      }

      &:hover:last-child {
        background-color: rgba(0, 0, 0, 0.32);
      }

      &:hover:not(:last-child) {
        background-color: #4f70b5;
        color: white;
      }
    }
  }
}