.dash_navbar {
  background-color: white;
  color: black;
  padding: 10px;
  width: 70vw;
  margin-left: 15vw;
  z-index: 300;

  .nav_sections {
    display: inline-flex;

    .app_name {
      a {
        font-size: 17px;
      }
    }
  }

  .auth_options {
    display: inline-flex;
    float: right;

    &.not_authenticated {
      .sign_up {
        background-color: white;
        border: 1px solid #4f70b5;
        padding: 8px;
        width: 70px;

        &:hover {
          color: white;
          background-color: #4f70b5;
        }
      }
    }

    .user {
      position: relative;
      padding-right: 10px;
      transition: none;

      &:hover {
        background-color: #4f70b5;
        color: white;

        &>a {
          color: white;
        }
      }
      &>a {
        text-align: right;
        margin: 0;
        padding-right: 0;
      }
      .user_options {
        position: absolute;
        top: 120%;
        right: 0;
        height: auto;
        width: 200px;
        min-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.29);
        visibility: hidden;
        background: white;
        color: #4f70b5;
        z-index: 300;

        span {
          display: block;
          width: 100%;
          padding: 5px 0 5px 0;

          &.headers {
            font-weight: bold;
            color: black;
            padding: 3px 0 3px 0;
          }

          &.options:hover {
            background: #4f70b5;

            a {
              color: white;
            }
          }

          a {
            margin-left: 10px;
          }
        }
      }

      &:hover {
        .user_options {
          visibility: visible;
        }
      }
    }

    a {
      margin-right: 20px;
    }
  }
}
.hr {
  margin: 9px auto;
  width: 96vw !important;
}