@font-face {
  font-family: HarmoniaRegular;
  src: url("../../fonts/HarmoniaSansProCyr-Regular.otf") format("opentype");
}

* {
  transition: 0.2s ease-in-out;
  font-family: HarmoniaRegular, Verdana, cursive;
}

body {
  margin: 0;
  padding: 55px 0;
  width: 100vw;
  overflow-x: hidden;
}

.button {
  display: block;
  height: auto;
  min-width: 20px;
  border-radius: 0;
  border: none;
  font-size: 15px;
  padding: 10px;
  background-color: rgba(0,0,0,0.24);
  text-decoration: none;
  color: black;

  &:hover {
    background-color: rgba(0,0,0,0.4);
  }
}

.link {
  display: block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: black;

  &:hover {
    color: #4f70b5;
  }
}

input {
  display: block;
  height: 35px;
  transition: border 0.5s ease-in-out;
  border-width: 0 0 2px 0;
  border-color: rgba(86, 86, 87, 0.2);
  font-size: 15px;

  &:focus, &:active {
    border-color: #363637;
    outline: none;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  max-height: 55px;
}

div.hr {
  width: 100vw;
  background-color: #848485;
  height: 1px;
}

.logo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: url("../../images/laptop.svg");
}
